@model List<MiniSocial.Dtos.PostDto>

@{
    ViewData["Title"] = "User Posts";
}

<h2>User Posts</h2>

<div class="posts-container">
    @if (!Model.Any())
    {
        <p>No posts yet.</p>
    }
    else
    {
        foreach (var post in Model)
        {
             @Html.Partial("_PostCard", post)
        }
    }
</div>
